{% extends "base.html" %}

{% block title %}Password reset Email Sent{% endblock %}

{% block home %}
class="nav-link click-scroll"
{% endblock %}

{% block content %}
<section class="section-padding">
    <div class="container" style="min-height: 35vh;">
        <h2 class="mb-4">Password Reset Email Sent</h2>
        <h5>A password reset link has been sent to your email address. Please check your inbox and click the reset link to change your account password.</h5>
    </div>
</section>
{% endblock %}