{% extends 'base.html' %}

{% load static %}

{% block home %}
class="nav-link click-scroll"
{% endblock %}

{% block content %}

    <section class="volunteer-section section-padding" id="section_4">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <h2 class="text-white mb-4 text-center">Reset Password</h2>

                    <form class="custom-form volunteer-form mb-5 mb-lg-0"
                        method="post">
                        {% csrf_token %}

                        <label for="password" class="form-label">New Password</label>
                        <input type="password" name="new_password1" id="password"
                        class="form-control" placeholder="password" required>

                        <label for="password2" class="form-label">Confirm New Password</label>
                        <input type="password" name="new_password2" id="password2"
                        class="form-control" placeholder="password" required>

                        {% if error %}
                        <p class="text-danger">{{ error }}</p>
                        {% endif %}

                        <button type="submit" class="form-control">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
